html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.header {
  width: 100%;
  height: 6%;
  text-align: center;
  font-size: 1.5em;
  background-color: black;
  color: cornsilk;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 2em;
}

.container {
  position: relative;
  width: 100%;
  height: 96vh;
}

.search {
  bottom: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background: cornsilk;
  overflow: scroll;
}



.search-input-lb {
  position: relative;
  top: 10px;
  left: 25px;
  text-align: center;
  font-weight: bold;
  background-color: cornsilk;
  border-radius: 5px;
  margin-bottom: 10px;
}

.search-input {
  position: relative;
  border-radius: 5px;
  margin: 0 10px 10px 10px;
  border: 1px solid #2f2f33;
  padding: 3px;
  background-color: #fefff0;
}

#map {
  bottom: 0;
  height: 96vh;
  width: 70%;
  position: absolute;
  right: 0;
}
.places {
  list-style-type: none;
  line-height: 2em;
}

.place {
  border: 1px solid black;
  margin: 10px 10px 10px -20px;
  text-align: center;
}



.icon {
  background: url('./map-marker.png') no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
}

 .icon:focus {
  background: url('./map-marker.png') no-repeat;
  background-size: 70px;
  height: 40px;
  width: 40px;
}



.info-window {
  background-color: white;
  background-size: 50px;
  height: 90px;
  width: 120px;
  font-size: 1.4em;
  text-align: center;
  position: relative;
  left: 20px;
  border: 2px red solid;
}


/* -------------------------- media query ------------------------------ */

@media only screen and (max-width: 650px) {
  .search {
    font-size: 0.8em;
    width: 100%;
    height: 30%; 
  }

  #map {
    width: 100%;
    height: 70%
  }
  /* .search-input {
    margin: 0 5px;
    font-size: 1em;
    padding: 2%
  } */
}